
@{
    ViewBag.Title = "ChangPassword";
    Layout = "~/Views/_LayoutPage1.cshtml";
}

<div class="passFrm" style="padding-left: 100px; padding-bottom: 100px">
    <h3>Change password</h3>
    <form action="updatePass" method="post">
        <span>Recent Password: </span>
        @Html.Password("oldPass")
        <br /><br />
        <span>New Password: </span>
        @Html.Password("newPass")
        <br /><br />
        <span>Confirm Password: </span>
        @Html.Password("rePass")
        <br /><br />
        <p style="color: red">@TempData["ErrorPass"]</p>
        <br />
        <input type="submit" value="Apply" />
    </form>
</div>

